body {
    background-color: black;
    color: white;
    width:520px;
    margin: 0px auto;
}
img {
    display:inline-block;
    margin: 1px;
    border: 2px;
    border-style: solid;
    border-color: white;
    height: 240px;
}
.smalltext {
    font-size: small;
}