body {
    background-color: black;
    color: white;
    width:1024px;

}
img {
    display:inline-block;
    margin: 2px;
    border: 4px;
    border-style: solid;
    border-color: white;
}
.smalltext {
    font-size: small;
}